cycler==0.9.0
Cython==0.19.1
drawnow==0.71.2
Flask==0.9
gunicorn==19.6.0
Jinja2==2.6
Keras==1.0.8
MarkupSafe==0.15
matplotlib==1.5.0
meld3==1.0.2
numpy==1.10.1
pyparsing==2.0.5
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.12
scikit-learn==0.17.1
scipy==0.16.1
six==1.10.0
supervisor==3.3.1
Theano==0.8.2
virtualenv==13.1.2
Werkzeug==0.8.3
